:root {
    --ovw: 1440;
    --ovh: 1024;
    overflow: hidden;
}

html {
    background: #358b3f;
}

.background-model spline-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    z-index: 0;
}

.content * {
    color: white;
    font-family: "Neue Haas Grotesk Display Pro";
    background: transparent;
    font-style: normal;
}

.title * {
    font-size: clamp(1rem, calc(133.07/var(--ovh)*100vh), 2000rem);
    line-height: 0;
    letter-spacing: -0.11644rem;
    pointer-events: none;
}

.name * {
    font-size: clamp(1rem, calc(67.78/var(--ovh)*100vh), 2000rem);
    line-height: 0;
    letter-spacing: 0rem;
    pointer-events: none;
}

#header-line-1 {
    position: absolute;
    background: green;
    top: calc(296/var(--ovh)*100%);
    left: calc(252/var(--ovw)*100%);
}

#header-line-2 {
    position: absolute;
    top: calc(440/var(--ovh)*100%);
    left: calc(930/var(--ovw)*100%);
}

#name-line {
    position: absolute;
    top: calc(624/var(--ovh)*100%);
    left: calc(528/var(--ovw)*100%);
}

#button {
    display: block;
    position: absolute;
    width: calc(136/var(--ovh)*100vh);
    height: calc(136/var(--ovh)*100vh);
    top: calc(624/var(--ovh)*100%);
    left: calc(1156/var(--ovw)*100%);
    border: 0px outset;
    border-radius: 50%;
    background-color: white;
    text-decoration: none;
    transition: background-color 200ms ease-out;
}

#arrow {
    position: relative;
    top: calc(55/136*100%);
    left: calc(40/136*100%);
}

#arrow-path {
    fill: #808080;
    transition: fill 200ms ease-out;
}

#button:hover {
    background-color: #4c4c4c;
}

#button:hover #arrow-path {
    fill: white;
}

